/* stili pagina */

  body {
    font-family: "Poppins", sans-serif;
  }

/* bottone */
  #toggle {
    transform: scale(1.5);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 2;
  }

/* menu */
  #menu {
    text-align: left;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: clip-path 0.5s ease, transform 0.5s ease; /* applica una transizione alla clip-path e alla trasformazione */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden; 
    transform-origin: center center; /* imposta l'origine della trasformazione al centro del menu */
    clip-path: circle(0% at 50% 50%); /* nasconde il menu con un taglio circolare a raggio zero */
    transform: scale(1); /* scala il menu a metà dimensione */
  }

  #menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #menu ul li {
    opacity: 0; /* nascondi inizialmente le voci del menu */
    transform: translateX(100%); /* sposta le voci del menu completamente a destra */
    transition: opacity 0.5s ease, transform 0.5s ease; 
  }

  #menu.active ul li:nth-child(1) {
    transition-delay: 0.2s; /* ritardo per la prima voce del menu */
  }

  #menu.active ul li:nth-child(2) {
    transition-delay: 0.5s; 
  }

  #menu.active ul li:nth-child(3) {
    transition-delay: 0.7s; 
  }

  #menu.active ul li {
    opacity: 1; /* rendi visibili le voci del menu quando il menu è attivo */
    transform: translateX(0); /* riporta le voci del menu alla posizione originale */
  }

  #menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 4em; /* 64px */
    line-height: 1.5em; /* 96px */
    transition: color 0.3s;
  }

  #menu ul li a:hover {
    color: #99afb9;
  }

  #menu.active {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.213), rgba(255, 255, 255, 0));
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: all 1s;
  }

/* media query per tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    #toggle {
      right: 10px;
      top: 1px;
      transform: scale(1.1);
    }

    #menu {
      right: 0;
    }

    #menu.active {
      right: 0;
    }

    #menu ul li {
      opacity: 0; 
      transform: translateX(100%); 
      transition: opacity 0.5s ease, transform 0.5s ease; 
    }

    #menu.active ul li:nth-child(1) {
      transition-delay: 0.2s; /* ritardo per la prima voce del menu */
    }

    #menu.active ul li:nth-child(2) {
      transition-delay: 0.5s; 
    }

    #menu.active ul li:nth-child(3) {
      transition-delay: 0.7s; 
    }

    #menu.active ul li {
      opacity: 1; /* rendi visibili le voci del menu quando il menu è attivo */
      transform: translateX(0); /* riporta le voci del menu alla posizione originale */
    }

    #menu ul li a {
      text-decoration: none;
      font-size: 2.5em; /* 40px */
      line-height: 1.8em; /* 72px */
      transition: 0.3s;
      color: rgb(255, 255, 255);
    }

    #menu ul li a:hover {
      color: #99afb9;
    }
  }

/* media query per telefoni */
  @media (max-width: 767px) {
    #toggle {
      right: 10px;
      top: 1px;
      transform: scale(1.1);
    }

    #menu {
      right: 0;
    }

    #menu.active {
      right: 0;
    }

    #menu ul li {
      opacity: 0; 
      transform: translateX(100%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    #menu.active ul li:nth-child(1) {
      transition-delay: 0.2s; /* ritardo per la prima voce del menu */
    }

    #menu.active ul li:nth-child(2) {
      transition-delay: 0.5s; 
    }

    #menu.active ul li:nth-child(3) {
      transition-delay: 0.7s; 
    }

    #menu.active ul li {
      opacity: 1; /* rendi visibili le voci del menu quando il menu è attivo */
      transform: translateX(0); /* riporta le voci del menu alla posizione originale */
    }

    #menu ul li a {
      text-decoration: none;
      font-size: 1.75em; /* 28px */
      line-height: 1.8em; /* 72px */
      transition: 0.3s;
      color: rgb(255, 255, 255);
    }

    #menu ul li a:hover {
      color: #99afb9;
    }
  }
